.loginForm {
  background-color: #fff;
  border-radius: 30px;
  padding: 42px;
  box-shadow: var(--box-shadow);
  margin: 0 10px;
}

.loginForm h2 {
  margin-bottom: 30px;
}

.loginForm p {
  margin-bottom: 20px;
}

.loginForm input {
  width: 100%;
  margin-bottom: 30px;
  padding: 30px;
  border: 1px solid var(--gray-light-color);
  border-radius: 15px;
  outline: none;
  font-weight: 500;
  font-size: 30px;
  line-height: 28px;
  letter-spacing: -0.04em;
}

.loginForm button {
  background-color: var(--blue-color);
  padding: 30px 60px;
  width: 100%;
  border-radius: 15px;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.04em;
  color: #fff;
}
