@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900;1000&display=swap');

:root {
  --bg-color: #f6f6f6;
  --gray-light-color: #e5e5e5;
  --blue-color: #2f69fe;
  --text-light: #a5a5a5;
  --text-dark: #686868;
  --text-darker: #282727;
  --text-black: #1a1919;

  --box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-darker);
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 38px;
  letter-spacing: -0.05em;
}

h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 38px;
  letter-spacing: -0.02em;
}

p {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.03em;
  user-select: none;
}

s {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.03em;
  user-select: none;
  overflow: hidden;
}

button,
input {
  font-family: 'Nunito', sans-serif;
  border: none;
  outline: none;
  background: none;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

.app {
  /* text-align: center; */
}
